[package]
name = "wgpu-sandbox"
version = "0.1.0"
edition = "2024"

[dependencies]
bytemuck = { version = "1", features = ["derive"] }
clap = { version = "4", features = ["derive"] }
env_logger = "0.11.9"
pollster = "0.4.0"
wgpu = "27.0.1"
winit = "0.30.12"
